---
const res = await fetch(
    "http://localhost:8055/items/footer?fields=*,social_links.*,social_links.social_media_id.*,social_posts.*",
);
const json = await res.json();
const data = json.data[0];
---

<footer>
    <section class="vl-footer vl-gray-bg-4 pt-240">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="vl-footer-widget-1">
                        <div class="vl-footer-logo">
                            <a href="/"
                                ><img
                                    src={`http://localhost:8055/assets/${data.footer_logo}`}
                                    class="w-50"
                                    alt=""
                                /></a
                            >
                        </div>
                        <div class="vl-footer-content vl-footer-content-4">
                            <p class="pt-16 pb-32">
                                {data.footer_description}
                            </p>
                        </div>
                        <div class="vl-footer-social vl-footer-social-4">
                            <ul>
                                <li>
                                    <a href="#"
                                        ><i class="fa-brands fa-facebook-f"
                                        ></i></a
                                    >
                                </li>

                                <li>
                                    <a href="#"
                                        ><i class="fa-brands fa-linkedin-in"
                                        ></i></a
                                    >
                                </li>
                                <li>
                                    <a href="#"
                                        ><i class="fa-brands fa-instagram"
                                        ></i></a
                                    >
                                </li>
                                <li>
                                    <a href="#"
                                        ><i class="fa-brands fa-youtube"></i></a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-30">
                    <div class="vl-footer-widget-2">
                        <h3 class="vl-footer-widget-title vl-fs-20 mb-20">
                            Quick Links
                        </h3>
                        <div class="vl-footer-menu vl-footer-menu-4">
                            <ul>
                                {
                                    data.quick_links &&
                                        data.quick_links.length > 0 &&
                                        data.quick_links.map((link: any) => (
                                            <li>
                                                <a href={link.item_link}>
                                                    {link.list_item}
                                                </a>
                                            </li>
                                        ))
                                }

                                <!-- <li><a href="/about/">About Us</a></li> -->

                                <!-- <li><a href="/service/">Our Service</a></li>
                                <li><a href="/case-studies/">Case Study</a></li>
                                <li><a href="/testimonial/">Testimonial</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-30">
                    <div class="vl-footer-widget-3 ml-40">
                        <h3 class="vl-footer-widget-title vl-fs-20 mb-20">
                            Our Service
                        </h3>
                        <div class="vl-footer-menu vl-footer-menu-4">
                            <ul>
                                {
                                    data.our_services &&
                                        data.our_services.length > 0 &&
                                        data.our_services.map(
                                            (service: any) => (
                                                <li>
                                                    <a href="#">
                                                        {service.list_item}
                                                    </a>
                                                </li>
                                            ),
                                        )
                                }
                                <!-- <li><a href="#">Cyber Security</a></li> -->
                                <!-- <li><a href="#">Network Analysis</a></li>
                                <li><a href="#">Data Recovery</a></li>
                                <li><a href="#">It Service</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="vl-footer-widget-4">
                        <h3 class="vl-footer-widget-title vl-fs-20 mb-20">
                            Instagram Post
                        </h3>
                        <div class="row gx-2">
                            {
                                data.social_posts &&
                                    data.social_posts.length > 0 &&
                                    data.social_posts.map((post: any) => (
                                        <div class="col-lg-4 col-md-4 col-4 cs_footerinstapost">
                                            <div class="vl-footer-instapost p-relative z-index-1 fix mb-8">
                                                <img
                                                    class="w-100"
                                                    src={`http://localhost:8055/assets/${post.directus_files_id}`}
                                                    alt="instaqram post"
                                                />
                                                <div class="vl-footer-instapost-icon">
                                                    <a href="#">
                                                        <i class="fa-brands fa-instagram" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    ))
                            }

                            <!-- <div class="col-lg-4 col-md-4 col-4">
                                <div
                                    class="vl-footer-instapost p-relative z-index-1 fix mb-8"
                                >
                                    <img
                                        class="w-100"
                                        src="/assets/img/cs_img9.jpg"
                                        alt=""
                                    />
                                    <div class="vl-footer-instapost-icon">
                                        <a href="#"
                                            ><i class="fa-brands fa-instagram"
                                            ></i></a
                                        >
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-4">
                                <div
                                    class="vl-footer-instapost p-relative z-index-1 fix mb-8"
                                >
                                    <img
                                        class="w-100"
                                        src="/assets/img/cs_img8.jpg"
                                        alt=""
                                    />
                                    <div class="vl-footer-instapost-icon">
                                        <a href="#"
                                            ><i class="fa-brands fa-instagram"
                                            ></i></a
                                        >
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-4">
                                <div
                                    class="vl-footer-instapost p-relative z-index-1 fix mb-8"
                                >
                                    <img
                                        class="w-100"
                                        src="/assets/img/cs_img1.jpg"
                                        alt=""
                                    />
                                    <div class="vl-footer-instapost-icon">
                                        <a href="#"
                                            ><i class="fa-brands fa-instagram"
                                            ></i></a
                                        >
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-4">
                                <div
                                    class="vl-footer-instapost p-relative z-index-1 fix mb-8"
                                >
                                    <img
                                        class="w-100"
                                        src="/assets/img/cs_img2.jpg"
                                        alt=""
                                    />
                                    <div class="vl-footer-instapost-icon">
                                        <a href="#"
                                            ><i class="fa-brands fa-instagram"
                                            ></i></a
                                        >
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-4">
                                <div
                                    class="vl-footer-instapost p-relative z-index-1 fix mb-8"
                                >
                                    <img
                                        class="w-100"
                                        src="/assets/img/cs_img4.jpg"
                                        alt=""
                                    />
                                    <div class="vl-footer-instapost-icon">
                                        <a href="#"
                                            ><i class="fa-brands fa-instagram"
                                            ></i></a
                                        >
                                    </div>
                                </div>
                            </div>
                             -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="vl-footer-border-top">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div
                            class="vl-footer-copyright-text vl-footer-copyright-text-4"
                        >
                            <p>
                                {data.copyright_text}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="vl-footer-copyright-menu">
                            <ul>
                                {
                                    data.policy_page_link.map((item: any) => (
                                        <li>
                                            <a href={item.page_url}>
                                                {item.page_name}
                                            </a>
                                        </li>
                                    ))
                                }
                                <!-- <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
